.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form {
    padding: 64px 32px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 1px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.input {
    margin-bottom: 32px;
}